<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>Events</name>
    <events>
        <variable constant="0" name="TimePipe" sid="566011886220853" static="0" type="number">0</variable>
        <variable constant="0" name="Score" sid="542805952441936" static="0" type="number">-1</variable>
        <variable constant="1" name="GAPSIZE" sid="680798715079988" static="0" type="number">200</variable>
        <variable constant="0" name="isDead" sid="482084122194668" static="0" type="number">0</variable>
        <event-block sid="497838854927116">
            <conditions>
                <condition id="-8" name="Compare two values" sid="328660024110161" type="System">
                    <param id="0" name="First value">isDead</param>
                    <param id="1" name="Comparison">0</param>
                    <param id="2" name="Second value">1</param>
                </condition>
            </conditions>
            <actions>
                <action behavior="Bullet" id="5" name="Set enabled" sid="990317230018138" type="Background">
                    <param id="0" name="State">0</param>
                </action>
                <action behavior="Bullet" id="5" name="Set enabled" sid="625616810361678" type="Ground">
                    <param id="0" name="State">0</param>
                </action>
                <action behavior="Bullet" id="5" name="Set enabled" sid="810622819470525" type="PipeDown">
                    <param id="0" name="State">0</param>
                </action>
                <action behavior="Bullet" id="5" name="Set enabled" sid="353613526816401" type="PipeTop">
                    <param id="0" name="State">0</param>
                </action>
                <action behavior="Platform" id="11" name="Set enabled" sid="394930466506982" type="Bird">
                    <param id="0" name="State">0</param>
                </action>
                <action id="-15" name="Set visible" sid="982960687300584" type="Text">
                    <param id="0" name="Visibility">1</param>
                </action>
                <action id="-16" name="Wait" sid="413474569719699" type="System">
                    <param id="0" name="Seconds">2</param>
                </action>
                <action id="-21" name="Reset global variables" sid="250586472978430" type="System" />
                <action id="-15" name="Set visible" sid="435913804470155" type="Text">
                    <param id="0" name="Visibility">0</param>
                </action>
                <action id="-26" name="Restart layout" sid="489648120028302" type="System" />
            </actions>
        </event-block>
        <event-group description="" sid="699164456357307" title="Bird">
            <sub-events>
                <event-block sid="956562824341120">
                    <conditions>
                        <condition id="0" name="On key pressed" sid="868630870223045" type="Keyboard">
                            <param id="0" name="Key">32 (Space)</param>
                        </condition>
                        <condition id="-8" name="Compare two values" sid="754768242138047" type="System">
                            <param id="0" name="First value">isDead</param>
                            <param id="1" name="Comparison">0</param>
                            <param id="2" name="Second value">0</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action behavior="Platform" id="9" name="Set vector Y" sid="499443646104577" type="Bird">
                            <param id="0" name="Vector Y">-650</param>
                        </action>
                    </actions>
                </event-block>
                <event-block sid="215873527410360">
                    <conditions>
                        <condition id="-8" name="Compare two values" sid="189221593534161" type="System">
                            <param id="0" name="First value">Bird.Platform.VectorY</param>
                            <param id="1" name="Comparison">2</param>
                            <param id="2" name="Second value">0</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="-20" name="Rotate toward angle" sid="452387536637815" type="Bird">
                            <param id="0" name="Degrees">10</param>
                            <param id="1" name="Angle">-45</param>
                        </action>
                    </actions>
                </event-block>
                <event-block sid="152662883360368">
                    <conditions>
                        <condition id="-8" name="Compare two values" sid="852396082327369" type="System">
                            <param id="0" name="First value">Bird.Platform.VectorY</param>
                            <param id="1" name="Comparison">4</param>
                            <param id="2" name="Second value">0</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="-20" name="Rotate toward angle" sid="154050274329716" type="Bird">
                            <param id="0" name="Degrees">10</param>
                            <param id="1" name="Angle">45</param>
                        </action>
                    </actions>
                </event-block>
                <event-block any="1" sid="815411864877536">
                    <conditions>
                        <condition id="0" name="On collision with another object" sid="781654096365935" type="Bird">
                            <param id="0" name="Object">Ground</param>
                        </condition>
                        <condition id="0" name="On collision with another object" sid="961147107027697" type="Bird">
                            <param id="0" name="Object">PipeDown</param>
                        </condition>
                        <condition id="0" name="On collision with another object" sid="303621387042911" type="Bird">
                            <param id="0" name="Object">PipeTop</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="-9" name="Set value" sid="642557412013648" type="System">
                            <param id="0" name="Variable">isDead</param>
                            <param id="1" name="Value">1</param>
                        </action>
                    </actions>
                </event-block>
            </sub-events>
        </event-group>
        <event-group description="" sid="798754487020621" title="Background">
            <sub-events>
                <event-block sid="582791988070861">
                    <conditions>
                        <condition id="-1" name="Compare X" sid="401857742612139" type="Background">
                            <param id="0" name="Comparison">2</param>
                            <param id="1" name="X co-ordinate">-1 * (Background.Width - WindowWidth)</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="-1" name="Set X" sid="587465926430898" type="Background">
                            <param id="0" name="X">0</param>
                        </action>
                    </actions>
                </event-block>
                <event-block sid="403200795047283">
                    <conditions>
                        <condition id="-1" name="Compare X" sid="671550030287158" type="Ground">
                            <param id="0" name="Comparison">2</param>
                            <param id="1" name="X co-ordinate">-1 * (Ground.Width - WindowWidth)</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="-1" name="Set X" sid="896749456114258" type="Ground">
                            <param id="0" name="X">0</param>
                        </action>
                    </actions>
                </event-block>
            </sub-events>
        </event-group>
        <event-group description="" sid="800919079479598" title="Game">
            <sub-events>
                <event-block sid="907892162925698">
                    <conditions>
                        <condition id="-6" name="Every X seconds" sid="149172662106119" type="System">
                            <param id="0" name="Interval (seconds)">2</param>
                        </condition>
                        <condition id="-14" name="Compare variable" sid="544490650235394" type="System">
                            <param id="0" name="Variable">isDead</param>
                            <param id="1" name="Comparison">0</param>
                            <param id="2" name="Value">0</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="-3" name="Create object" sid="508799314852751" type="System">
                            <param id="0" name="Object to create">PipeTop</param>
                            <param id="1" name="Layer">1</param>
                            <param id="2" name="X">530</param>
                            <param id="3" name="Y">int(random(110,345))</param>
                        </action>
                        <action id="-3" name="Create object" sid="985952774878031" type="System">
                            <param id="0" name="Object to create">PipeDown</param>
                            <param id="1" name="Layer">1</param>
                            <param id="2" name="X">530</param>
                            <param id="3" name="Y">PipeTop.Y + GAPSIZE</param>
                        </action>
                        <action id="-9" name="Set value" sid="222660991183580" type="System">
                            <param id="0" name="Variable">TimePipe</param>
                            <param id="1" name="Value">int(random(0,5))</param>
                        </action>
                        <action id="5" name="Set frame" sid="229866052423517" type="times">
                            <param id="0" name="Frame number">TimePipe</param>
                        </action>
                        <action id="5" name="Set frame" sid="538114168681536" type="times2">
                            <param id="0" name="Frame number">TimePipe</param>
                        </action>
                    </actions>
                </event-block>
                <event-block sid="898261126662554">
                    <conditions>
                        <condition id="-1" name="Compare X" sid="386377326118161" type="PipeTop">
                            <param id="0" name="Comparison">2</param>
                            <param id="1" name="X co-ordinate">Bird.X</param>
                        </condition>
                        <condition id="-7" name="Compare instance variable" sid="804115846926701" type="PipeTop">
                            <param id="0" name="Instance variable">Passed</param>
                            <param id="1" name="Comparison">0</param>
                            <param id="2" name="Value">0</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="-10" name="Set value" sid="529003817417388" type="PipeTop">
                            <param id="0" name="Instance variable">Passed</param>
                            <param id="1" name="Value">1</param>
                        </action>
                        <action id="-10" name="Add to" sid="680458361617674" type="System">
                            <param id="0" name="Variable">Score</param>
                            <param id="1" name="Value">1</param>
                        </action>
                        <action id="0" name="Set text" sid="655271601598654" type="Score">
                            <param id="0" name="Text">Score</param>
                        </action>
                    </actions>
                </event-block>
            </sub-events>
        </event-group>
        <event-block sid="985996220501578">
            <conditions>
                <condition id="-1" name="Every tick" sid="894606944325637" type="System" />
            </conditions>
            <actions>
                <action id="-4" name="Set position to another object" sid="393603780425572" type="times">
                    <param id="0" name="Object">PipeTop</param>
                    <param id="1" name="Image point (optional)">&quot;TimePoint&quot;</param>
                </action>
                <action id="-4" name="Set position to another object" sid="514334034132495" type="times2">
                    <param id="0" name="Object">PipeDown</param>
                    <param id="1" name="Image point (optional)">&quot;TimePoint&quot;</param>
                </action>
            </actions>
        </event-block>
    </events>
</c2eventsheet>
